html
  head
    style(type='text/css').
      body{ background-color: #ffffe6; text-align:right;}
      div#page{ width:100%; height:93%; text-align:center; }
      div#back_left_col{ width:20%; float:left; height: auto; }
      div#back_left_col_top{ height:50%; border:1px solid black; border-radius:6px 6px 6px 6px; }
      div#back_left_col_bottom{ height:50%; border:1px solid black; border-radius:6px 6px 6px 6px; }
      div#back_center{ margin-left:20%; height: auto; }
      div#back_center_top{ height:66%; border:1px solid black; border-radius:6px 6px 6px 6px; }
      div#back_center_top_top{ height:78%; }
      div#back_center_top_bottom{ height:22%; }
      div#back_center_bottom{ height:34%; border:1px solid black; border-radius:6px 6px 6px 6px; }
      #counties{ width:135px; }
      #areas{ width:150px; z-index: 10; }
      #zones{ width:135px; }
      iframe{ width:200px; height:180px; }
      iframe:hover{ width: 130%;}
      table{ border-collapse: collapse; width: 80%; margin-left:10%; }
      table, th, td{  border:1px solid black; }
      th, td{ text-align: left; padding: 8px; }
      th{ background-color: #004d4d; color:white; }
      tr{ background-color: #f2f2f2; }
      #filter{ height: 30px; width: 100px;  background-color:25b2d5; padding:5px 10px 5px 10px; border-radius:3px; border:1px solid #319db8; color:white; font-weight:bold; }
      #contact{ height: 40px; width: 300px;  background-color:25b2d5; padding:5px 10px 5px 10px; border-radius:3px; border:1px solid #319db8; color:white; font-weight:bold; margin-right: 20px; margin-left: 20px; }	
      #add{ height: 40px; width: 300px; background-color:25b2d5; padding:5px 10px 5px 10px; border-radius:3px; border:1px solid #319db8; color:white; font-weight:bold; }
      #logout{ background-color:25b2d5; padding:5px 10px 5px 10px; border-radius:3px; border:1px solid #319db8; color:white; font-weight:bold; margin-left: 10px; margin-bottom: 15px;}	  
  body
    p
    v User is currently loged in
    button#logout(onclick="logout()") Logout
    #page
      #back_left_col
        #back_left_col_top
          h3
            | Filter
          p
            | County: 
            select#counties.icon-menu(onchange='listCounties()')
          p
            | Area: 
            select#areas.icon-menu(onchange='listareas()')
          h3
            | Search
          p
            form(method='POST')
              input(type='text', name='search', placeholder='Search')
          p
            | By: 
            select#searchBy.icon-menu(onchange='listSearch()')
          button#filter(type="submit") Filter
        #back_left_col_bottom
          h3
            | Camera
          p
            | Zone: 
            select#zones.icon-menu(onchange='listzones()')
          p
            iframe(src='http://86.44.222.26:8081', scrolling='no')
      #back_center
        #back_center_top
          #back_center_top_top
            h3
              | Customer List
            table
              tr
                th ID
                th Name
                th Status
                th View Details
              each customer, i in main
                tr
                  td #{customer.username}
                  td #{customer.password}
          #back_center_top_bottom
            p
              button#add(onclick="newCustomer()") ADD CUSTOMER
        #back_center_bottom
          h3
            | Selected Customer
          table
            tr
              th ID
              th Name
              th Status
              th Address
              th Security
              th Fire
              th Monoxide
            tr
              td S001
              td Name 1
              td OK
              td Address 1
              td OK
              td OK
              td OK
          p
          button#contact(type="submit") CONTACT CUSTOMER
          button#contact(type="submit") CONTACT EMERGENCY SERVICES
 script.
      var counties = ['All', 'Cork', 'Dublin', 'Limerick','Kerry','Galway'],
      select = document.getElementById( 'counties' );
      for( county in counties )
      {
      select.add( new Option( counties[county] ) );
      };
      var searches = ['Name', 'ID', 'Address'],
      select = document.getElementById( 'searchBy' );
      for( search in searches )
      {
      select.add( new Option( searches[search] ) );
      };
      var zones = ['Z1', 'Z2', 'Z3', 'Z4','Z5'],
      select = document.getElementById( 'zones' );
      for( zone in zones )
      {
      select.add( new Option( zones[zone] ) );
      };
      function listCounties()
      {
      document.getElementById("areas").innerHTML = "";
      var e = document.getElementById("counties");
      var selection = e.options[e.selectedIndex].text;
      if (selection == 'Cork')
      {
      var areas = ['City Center', 'Douglas'],
      select = document.getElementById( 'areas' );
      for( area in areas )
      {
      select.add( new Option( areas[area] ) );
      };
      }
      if (selection == 'Dublin')
      {
      var areas = ['D1', 'D2', 'D3', 'D4'],
      select = document.getElementById( 'areas' );
      for( area in areas )
      {
      select.add( new Option( areas[area] ) );
      };
      }
      if (selection == 'Limerick')
      {
      var areas = ['L1', 'L2', 'L3', 'L4'],
      select = document.getElementById( 'areas' );
      for( area in areas )
      {
      select.add( new Option( areas[area] ) );
      };
      }
      if (selection == 'Kerry')
      {
      var areas = ['K1', 'K2', 'K3', 'K4'],
      select = document.getElementById( 'areas' );
      for( area in areas )
      {
      select.add( new Option( areas[area] ) );
      };
      }
      if (selection == 'Galway')
      {
      var areas = ['G1', 'G2', 'G3', 'G4'],
      select = document.getElementById( 'areas' );
      for( area in areas )
      {
      select.add( new Option( areas[area] ) );
      };
      }
      }
      function logout() {
      window.location.href = '/'
      }
      function newCustomer() {
      window.location.href = '/newCustomer'
      }