html
  head
    style(type='text/css').
      body{ font-family:verdana; }
      h1 { text-align: center; }
      div#back_glob{ background-color:white; border:1px solid #25b2d5; width:350px; margin:0 auto; box-shadow:1px 0px 15px #25b2d5 }
      input{ display:block; margin:10px; }
      div#back_header{ background-color:25b2d5; text-align: center; font-size:22px; font-weight:bold; color:white; padding:20px; }
      input[type=text], input[type=password]{ font-size:15px; padding:10px; border-radius:3px; border:1px solid #ddd; }
      input[type=submit]{ background-color:25b2d5; padding:5px 10px 5px 10px; border-radius:3px; border:1px solid #319db8; color:white; font-weight:bold; }
      div#back_form { display:flex; justify-content: center; }
  body
    h1
      | Welcome to InteliHome
    | &#x9;
    #back_glob
      #back_header
        | Login
      | &#x9;&#x9;
      h1
      | &#x9;&#x9;
      #back_form
        form(method='POST')
          input(type='text', name='username', placeholder='username')
          | &#x9;&#x9;&#x9;&#x9;
          input(type='password', name='pass', placeholder='password')
          | &#x9;&#x9;&#x9;&#x9;
          input(type='submit', name='valid', placeholder='Login')
